<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MontessoriApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MontessoriCopilot">

        <!--
          Auto Backup (android:allowBackup + fullBackupContent) is the only
          "sync" this app does for now: it lets a parent restore their local
          data on a new/reinstalled device via their Google account, for free,
          with no backend. See README and design doc v0.2 section 1.
        -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MontessoriCopilot">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
